<section class="login-form">
  <form>
    <div class="box">
      <div class="img">
        <%= image_tag 'twitterlogo.png', class: "logo-image" %>
      </div>
      <div class="heading">
        <h4>Twitter</h4>
      </div>
      <div class="form-fields">
        <div class="button-box">
          <button type="submit">Sign In</button>
        </div>
        <div class="signup-link">
          <a href="">Create new account</a>
        </div>
      </div>
    </div>
  </form>
</section>


